<!Doctype html>
<html lang=es>
    <head>
        <meta charset=="UTF-8">
        <title>Registro</title>
        <link rel="stylesheet" type="text/css" href="Prestamo.css">
    </head>
    <body>
        <div class="enlaces">
            <a href="https://www.google.es/">Index</a>
            <a href="https://www.google.es/">Registro</a>
            <a href="https://www.google.es/">Login</a>
            <a href="https://www.google.es/">Contacto</a>
        </div>
        <div>
            <form>
                <div>
                    <label for="codex">Codex</label>
                    <input type="search" id="codex"/>
                </div>
            </form>
        </div>
        <div class="fila">
            <div class="columna1">
                <img src="Yerma.jpg" height="300" width="200">
            </div>
            <div class="columna2">
                <div>
                    <h1>Yerma</h1>
                </div>
                <div>
                    <p>Yerma (1934) es una obra teatral popular escrita por Federico García Lorca que desarrolla una tragedia de ambiente rural. Está dividida en tres actos de dos cuadros cada uno. Es una de las tres obras de teatro que forman parte de la "trilogía lorquiana", junto con La casa de Bernarda Alba (1936) y Bodas de sangre. (1933).</p>
                </div>
            </div>
            <div class="columna3">
                <div>
                    <h3>Usuarios que prestan el libro</h3>
                </div>
                <div>
                    <p>Usuario1</p>
                    <p>Usuario2</p>
                    <p>Usuario3</p>
                    <p>Usuario4</p>
                    <p>Usuario5</p>
                </div>
            </div>
        </div>
    </body>
</html>