<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang=es>
    <head>
        <meta charset=="UTF-8">
        <title>Registro</title>
        <link rel="stylesheet" type="text/css" href="css/Registro.css">
    </head>
    <body>
        <div class="topcorner">
            <a href="/">Index</a>
            <a href="/Login">Login</a>
        </div>
        
        <h1>Codex</h1>
 
        <form action="#" th:action="@{/registro}" th:object="${user}" method="post">
<div class="container">
            <div>
                <label for="dni">DNI:</label>
                <input type="text" id="dni" th:field="*{DNI}"/>
            </div>
            <div>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" th:field="*{nombre}"/>
            </div>
            <div>
                <label for="apellido1">Apellido1:</label>
                <input type="texto" id="apellido1" th:field="*{apellido1}"/>    
            </div>
            <div>
                <label for="apellido2">Apellido2:</label>
                <input type="texto" id="apellido2" th:field="*{apellido2}"/>    
            </div>
            <div>
                <label for="mail">Email:</label>
                <input type="email" id="mail" th:field="*{email}"/>    
            </div>
            <div>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" th:field="*{password}"/>    
            </div>
            <div>
                <label for="direccion">Direccion:</label>
                <input type="text" id="direccion" th:field="*{direccion}"/>    
            </div>
            <div>
                <label for="cp">Codigo Postal:</label>
                <input type="text" id="cp" th:field="*{codigoPostal}"/>    
            </div>
            <div>
                <label for="fechaN">Nacimiento:</label>
                <input type="date" id="fechaN" th:field="*{fecha_nacimiento}"/>    
            </div>
            <div class="button">
                <button type="submit">Registrar</button>   
            </div>
 </div>
        </form>
        
            <div class="footer">
  <p>Codex es un proyecto de CodeFoundation</p>
</div>
        
    </body>
</html>