@font-face {
    font-family: 'NixieOne'; /*Nombre para ser referenciado*/
    src: url('NixieOne.ttf'); /*URL a la fuente*/
}

.enlaces {
    text-align: right;
    border-bottom: 1px solid #CCC;
}

 .topcorner{
   position:absolute;
   top:0;
   right: 5px;
   font-family: NixieOne
  }

a:link {
    color: black;
}

/* link visitado */
a:visited {
    color: gray;
}

/* cursor sobre el enlance */
a:hover {
    color: dimgray;
}

/* link seleccionado */
a:active {
    color: black;
}


.enlaces a {
    color: #777;
    text-decoration: none;
    margin-right: 0.5em
}

h1 {
    font-family: NixieOne;
    font-size: 4em;
    text-align: center;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: lightgray;
    -moz-border-radius: 25px;
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

input:not(#fechaN) {
    font: 1em sans-serif;
    width: 280px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus {
    border-color: #000;
}

.button {
    padding-left: 80px;
}

button {
    margin-left: 0.5em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: black;
    text-align: center;
    font-family: NixieOne

}